:root{
    --color-1: #FFFFFF;
    --color-2: #D4AF37;
    --color-3: #222b3a;
    --color-4: #FFF1C2;
    --color-5: hsla(0, 0%, 100%, 0.200);
    --color-6: #FFC300;
    --color-7: #000000;
}
@font-face {
    font-family: "EagleLake-Regular";
    src: url(../assets/font/EagleLake-Regular.ttf);
}